<header class="content__title">
  <h1>
    <%%= t('helpers.submit.general.show', model: t('activerecord.models.<%= singular_table_name %>.one')) %>
  </h1>

  <div class="actions">
    <%%= link_to '', (controller_name == "versions" ? index_versions_path(model_name: "<%= table_name %>") : <%= table_name %>_path), title: t('activerecord.link.back_to_list'), class: 'actions__item zmdi zmdi-arrow-left' %>
    <%%= link_to '', '', title: t('activerecord.link.refresh'), class: 'actions__item zmdi zmdi-refresh-alt' %>
    <%%= link_to '', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), title: t('activerecord.link.edit'), class: 'actions__item zmdi zmdi-edit' if can?(:edit, @<%= singular_table_name %>) && controller_name != 'versions' %>
  </div>
</header>
<div class="card">
  <div class="card-body card-padding record-show">
    <div class="row">
      <%- attributes.each do |attribute| -%>
        <div class="col-12">
          <label class="fg-label"><%%= t('activerecord.attributes.<%= singular_table_name %>.<%= attribute.name %>') %></label><br/>&nbsp;
          <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
        </div>
      <%- end -%>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="fg-label"><%%= t('activerecord.attributes.<%= singular_table_name %>.created_at') %></label><br/>&nbsp;
        <%%= @<%= singular_table_name %>.created_at %>
      </div>
      <div class="col-sm-6">
        <label class="fg-label"><%%= t('activerecord.attributes.<%= singular_table_name %>.updated_at') %></label><br/>&nbsp;
        <%%= @<%= singular_table_name %>.updated_at %>
      </div>
    </div>
  </div>
</div>
<%%= render partial: "layouts/record_changes", locals: { :@object => @<%= singular_table_name %> } %>