<p><%= t('.greeting', recipient: @resource.email) %></p>

<p><%= t('.instruction') %></p>

<p>
  <%# Usa o de cima se for react %>
  <%#= link_to t('.action'), public_url + '/reset_password?reset_password_token=' + @token %>
  <%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token), :style=>'color: blue;' %>
</p>

<p><%= t('.instruction_2') %></p>
<p><%= t('.instruction_3') %></p>