<header class="content__title">
  <h1>
    <%= t('helpers.submit.general.show', model: t('activerecord.models.product.one')) %>
  </h1>

  <div class="actions">
    <%= link_to '', (controller_name == "versions" ? index_versions_path(model_name: "products") : products_path), title: t('activerecord.link.back_to_list'), class: 'actions__item zmdi zmdi-arrow-left' %>
    <%= link_to '', '', title: t('activerecord.link.refresh'), class: 'actions__item zmdi zmdi-refresh-alt' %>
    <%= link_to '', edit_product_path(@product), title: t('activerecord.link.edit'), class: 'actions__item zmdi zmdi-edit' if can?(:edit, @product) && controller_name != 'versions' %>
  </div>
</header>
<div class="card">
  <div class="card-body card-padding record-show">
    <div class="row">
        <div class="col-12">
          <label class="fg-label"><%= t('activerecord.attributes.product.sku') %></label><br/>&nbsp;
          <%= @product.sku %>
        </div>
        <div class="col-12">
          <label class="fg-label"><%= t('activerecord.attributes.product.name') %></label><br/>&nbsp;
          <%= @product.name %>
        </div>
        <div class="col-12">
          <label class="fg-label"><%= t('activerecord.attributes.product.description') %></label><br/>&nbsp;
          <%= @product.description %>
        </div>
        <div class="col-12">
          <label class="fg-label"><%= t('activerecord.attributes.product.quantity') %></label><br/>&nbsp;
          <%= @product.quantity %>
        </div>
        <div class="col-12">
          <label class="fg-label"><%= t('activerecord.attributes.product.category') %></label><br/>&nbsp;
          <%= @product.category.name %>
        </div>
        <div class="col-12">
          <label class="fg-label"><%= t('activerecord.attributes.product.resale_price') %></label><br/>&nbsp;
          <%= @product.resale_price %>
        </div>
        <div class="col-12">
          <label class="fg-label"><%= t('activerecord.attributes.product.supplier') %></label><br/>&nbsp;
          <%= @product.supplier.name %>
        </div>
        <div class="col-12">
          <label class="fg-label"><%= t('activerecord.attributes.product.cost') %></label><br/>&nbsp;
          <%= @product.cost %>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="fg-label"><%= t('activerecord.attributes.product.created_at') %></label><br/>&nbsp;
        <%= @product.created_at %>
      </div>
      <div class="col-sm-6">
        <label class="fg-label"><%= t('activerecord.attributes.product.updated_at') %></label><br/>&nbsp;
        <%= @product.updated_at %>
      </div>
    </div>
    <div class="row">   
      <div class="col-sm-6">
        <label class="fg-label"><%= t('activerecord.attributes.product.image') %></label><br/>&nbsp;
        <%= link_to url_for(@product.image), data: { lightbox: true } do %>
          <%= image_tag url_for(thumb(@product.image)), style: "max-width: 300px; height: auto;" %>
        <% end if @product.image.attached? %>
      </div>
    </div>
  </div>  
</div>
<%= render partial: "layouts/record_changes", locals: { :@object => @product } %>