<header class="content__title">
  <h1>
    <%= t('activerecord.models.sale.other') %>
    <% if controller_name == "versions" %>
      <small style="color: red">
        <%= t('helpers.scaffold.deleted_warning') %>
      </small>
    <% end %>
  </h1>

  <div class="actions">
    <%= link_to '', sales_path, title: t('activerecord.link.back_to_list'), class: 'actions__item zmdi zmdi-arrow-left' if controller_name == 'versions' %>
    <%= link_to '', '', title: t('activerecord.link.refresh'), class: 'actions__item zmdi zmdi-refresh-alt' %>
    <%= link_to '', new_sale_path, title: t('activerecord.link.add_new'), class: 'actions__item zmdi zmdi-plus' if can?(:new, Sale) && controller_name != 'versions' %>
  </div>
</header>
<div class="card">
  <div class="card-body card-padding">
    <%= render 'layouts/search' unless controller_name == "versions" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <%# As we use this view to show deleted records, we check if it's %>
            <%# the versions controller to show an extra column %>
          <% if controller_name == "versions" %>
            <th style="color: red"><%= t('helpers.scaffold.deleted_at') %></th>
          <% end %>
            <%# If there's a @q, ransack is started. Otherwise, normal translated text %>
            <th><%= if @q then sort_link(@q, :id) else t('activerecord.attributes.sale.date') end %></th>
            <th><%= if @q then sort_link(@q, :date) else t('activerecord.attributes.sale.date') end %></th>            
            <th><%= if @q then sort_link(@q, :user) else t('activerecord.attributes.sale.user') end %></th>
            <th><%= if @q then sort_link(@q, :client) else t('activerecord.attributes.sale.client') end %></th>
            <th><%= if @q then sort_link(@q, :total) else t('activerecord.attributes.sale.total') end %></th>
            <th class="actions-column"></th>
          </tr>
        </thead>
        <tbody>
          <% if @sales.empty? %>
            <tr>
              <td colspan="99" class="text-center"><%= t('helpers.scaffold.no_records') %></td>
            </tr>
          <% end %>
          <%# If we're in version controller, we need to reify each element %>
          <% (controller_name == 'versions' ? @sales.map(&:reify) : @sales).each do |sale| %>
            <tr>
            <% if controller_name == "versions" %>
              <td style="color: red"><%= sale.version.created_at %></td>
            <% end %>
              <td><%= sale.id %></td>
              <td><%= sale.created_at %></td>              
              <td><%= sale.user %></td>
              <td><%= sale.client.name if sale.client.present? %></td>
              <td><%= sale.total %></td>
              <td class="actions-column actions">
                <%= link_to '', (sale.version.present? ? show_version_path(model_name: "sales", id: sale.version.id) : sale), title: t("activerecord.link.details"), class: "zmdi zmdi-search actions__item" %>
                <%= link_to '', edit_sale_path(sale), title: t("activerecord.link.edit"), class: "zmdi zmdi-edit actions__item" if can? :edit, sale %>
                <%= link_to '', sale, title: t("activerecord.link.destroy"), class: "zmdi zmdi-delete actions__item", method: :delete, data: { confirm: t('activerecord.link.destroy_confirm') } if can? :destroy, sale %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @sales, class: "apple_pagination", previous_label: t('activerecord.link.previous'), next_label: t('activerecord.link.next') %>
    <br/>
    <div class="text-center">
      <%= link_to index_versions_path(model_name: "sales"), style: "color: red" do %>
        <%= t('helpers.scaffold.deleted_records') %>
      <% end if can?(:read, :deleted_records) && controller_name != "versions" %>
    </div>
  </div>
  <br>
</div>
