<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css" rel="stylesheet">
      body {
        font-family: Verdana, Geneva, sans-serif;
        margin: 0;
        padding: 0;
        color: rgb(60, 66, 64);
      }

      h1,
      a,
      a:link,
      a:hover,
      a:visited {
        color: #fff;
        text-decoration: none;
      }

      .container {
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        background-color: #D12E5E;
      }

      @media (min-width: 768px) {
        .container {
          width: 100%;
        }
      }

      @media (min-width: 992px) {
        .container {
          width: 90%;
        }
      }

      @media (min-width: 1200px) {
        .container {
          width: 80%;
        }
      }
    </style>
  </head>
  <body>
    <header style="box-shadow: none;">
      <div class="container">
        <div style="list-style: none; padding: 0px;">
          <%= link_to "#", style: "display: inline-block" do %>
           Logo
          <%  end %>
        </div>
      </div>
    </header>
    <div class="container" style="background-color: #fff;">
      <%= yield %>
    </div>
    <footer id="footer">
      <div class="container" style="height: 40px;">
        <div style="float: right;">
          <%= link_to "https://fb.com/", style: "display: inline-block;" do %>
            Facebook
          <% end %>
          <%= link_to "https://instagram.com/", style: "display: inline-block;" do %>
            Instagram
          <% end %>
          <%= link_to "https://twitter.com/", style: "display: inline-block;" do %>
            Twitter
          <% end %>
        </div>
      </div>
      </div>
    </footer>
  </body>

</html>